* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

.service_section div .hello {
  color: red;
}

/* Header Section Starts Here */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(44, 44, 44, 0.932);
    color: rgb(221, 220, 220);
    padding: 4vh 5vw;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
}

.navber_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navber_link {
    text-decoration: none;
    color: rgb(221, 220, 220);
    padding: 1.2vw;
    transition: all linear 0.3s;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

.navber_link:hover {
    background-color: yellow;
    color: black;
}

.login_btn button {
    font-size: 16px;
    padding: 1.5vh 2vw;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: brown;
    color: rgb(221, 220, 220);
}
/* Header Section Ends Here */

/* Hero Section Starts Here */
.hero_image img {
    transform: scaleX(-1);
    width: 100%;
    padding-top: 15vh;
    position: relative;
}

.car_shadaw {
    width: 100%;
    height: 120vh;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}

.hero_content {
    position: absolute;
    top: 40vh;
    left: 12vw;
    text-align: center;
    color: rgb(221, 220, 220);
}

.hero_content h1 {
    font-size: 3.8vw;
    margin-bottom: 6vh;
    font-weight: bold;
    color: rgb(216, 216, 216);
}

.hero_content p {
    font-size: 18px;
    font-weight: bold;
    line-height: 5.5vh;
    margin-bottom: 6vh;
    text-align: center;
    color: rgb(177, 175, 175);
}

.hero_content button {
    font-size: 16px;
    font-weight: bold;
    padding: 2vh 2vw;
    background-color: rgb(121, 28, 28);
    color: rgb(221, 220, 220);
    border: none;
    outline: none;
    border-radius: 10px;
}
/* Hero Section Ends Here */

/* Service Section Starts Here */
.service_section {
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    width: 100%;
}

.service_section div {
    border: 1px solid rgb(190, 188, 188);
    width: 28%;
    height: 50vh;
    text-align: center;
    padding: 4vh 2vw;
    border-radius: 10px;
}

.service_section div i {
    font-size: 4vw;
    color: rgb(88, 88, 88);
    margin-top: 3.5vh;
}

.service_section h1 {
    font-size: 1.5vw;
    padding: 3.5vh 0;
    color: rgb(58, 57, 57);
}

.service_section p {
    font-size: 16px;
    line-height: 4vh;
    color: rgb(116, 114, 114);
}
/* Service Section Ends Here */

/* New Car Section Starts Here */
.new_car_section p, h1 {
    text-align: center;
    color: rgb(116, 114, 114);
}

.new_car_section h1 {
    font-size: 3vw;
    padding-top: 4vh;
}

.car_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 5vw;
    gap: 5vw;
}

.car_content_section h1 {
    font-size: 2.5vw;
    text-align: left;
    margin-bottom: 4vh;
}

.car_content_section p {
    text-align: left;
    font-size: 16px;
    margin-bottom: 4vh;
    line-height: 1.4;
}

.car_content_section button {
    background-color: brown;
    border: none;
    outline: none;
    color: rgb(221, 220, 220);
    font-size: 18px;
    font-weight: bold;
    padding: 2vh 2vw;
    border-radius: 10px;
}

/* New Car Section Ends Here */

/* Feature Cars Section Starts Here */
.featured_cars_section h1 {
    text-align: center;
    color: rgb(116, 114, 114);
    font-size: 3vw;
    padding: 4vh 0;
}

.featured_para {
    text-align: center;
    color: rgb(116, 114, 114);
    padding-top: 5vh;
    font-size: 16px;
}

.top_cars_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 5vw 5vh 6.5vw;
}

.top_cars_section div {
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    height: 55vh;
    width: 25%;
    margin-right: 1.2vw;
    text-align: center;
}

.top_cars_section img {
    padding: 5vh 0;
}

.top_cars_section h4, p {
    text-align: left;
    margin-left: 1vw;
}

.top_cars_section h4 {
    font-size: 1.4vw;
    color: rgb(70, 69, 69);
    margin-bottom: 1vw;
}

.top_cars_section p {
    font-size: 17px;
    color: rgb(116, 114, 114);
    line-height: 1.3;
}

.bottom_cars_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 5vw 15vh 6.5vw;
}

.bottom_cars_section div {
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    height: 55vh;
    width: 25%;
    margin-right: 1.2vw;
    text-align: center;
}

.bottom_cars_section img {
    padding: 5vh 0;
}

.bottom_cars_section h4, p {
    text-align: left;
    margin-left: 1vw;
}

.bottom_cars_section h4 {
    font-size: 1.4vw;
    color: rgb(70, 69, 69);
    margin-bottom: 1vw;
}

.bottom_cars_section p {
    font-size: 17px;
    color: rgb(116, 114, 114);
    line-height: 1.3;
}
/* Feature Cars Section Ends Here */

/* Clients Section Starts Here */
.clients_section {
    padding: 10vh 5vw;
    background-color: rgba(241, 241, 241, 0.781);
}
.review_clients_section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 8vh;
    gap: 2.5vw;
}

.review_clients_section div {
    border: 1px solid rgb(151, 151, 151);
    width: 30%;
    height: 55vh;
    padding: 5vh 1.5vw;
}

.review_clients_section p {
    margin: 4vh 0;
    font-size: 18px;
    color: rgb(116, 114, 114);
    line-height: 1.5;
}

.review_clients_section h4 {
    font-size: 18px;
    color: rgb(99, 99, 99);
    line-height: 1.5;
}
/* Clients Cars Section Ends Here */

/* Brands Section Starts Here */
.brands_section {
    padding: 15vh 5vw;
    display: flex;
    justify-content: space-around;
}
/* Brands Section Ends Here */

/* Footer Section Starts Here */
.footer_section {
    width: 100%;
    height: 70vh;
    background-color: #2a2d54;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5vw;
    color: rgb(180, 179, 179);
    position: relative;
    gap: 4vw;
}

.footer_section div h4 {
    font-size: 1.3vw;
    position: absolute;
    top: 12vh;
    color: rgb(212, 212, 212);
    padding-bottom: 15vh;
}

.footer_section div p {
    font-size: 16px;
    line-height: 1.9;
}

.footer_section .div-1 {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_section .div-1 h1 {
    margin-left: 1vw;
    color: rgb(212, 212, 212);
    position: absolute;
    top: 9.5vh;
}

.footer_section .div-2 {
    margin-top: -9vh;
}

.footer_section .div-5 {
    width: 25%;
}

.footer_section .div-5 p {
    margin-left: -0.1vw;
    margin-top: -10vh;
    margin-bottom: 3vh;
}

.footer_section .div-5 input {
    height: 6vh;
    width: 20vw;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #1b1e3f;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 0.7vw;
    color: rgb(212, 212, 212);;
}

::placeholder {
    font-size: 14px;
    font-weight: bold;
}
/* Footer Section Ends Here */

/* Last Footer Section Starts Here */
.last_footer_section {
    height: 10vh;
    width: 100%;
    padding: 0 5vw;
    background-color: #191b38;
    color: rgb(187, 185, 185);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_icon_section i {
    padding: 0.5vw;
}
/* Last Footer Section Ends Here */
